.contributions-post {
	margin: 10px 30px 10px 30px;
}

.aprove-btn {
	cursor: pointer;
	background-color: white;
	color: green;
	border: none;
	outline: none;
}

.reprove-btn {
	cursor: pointer;
	background-color: white;
	color: red;
	border: none;
	outline: none;
}

.contributions {
	display: inline-flex;
	width: 90%;
	text-align: center;
	flex-wrap: wrap;
}

.image-contributions {
	margin-right: 10px;
	display: grid;
}

a {
	text-decoration: none;
	color: blue;
}