{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="">{% endblock %}

{% block body %}
	<div class="contributions-post">
		<div class="contributions">
			<h1>Books contributions to be aproved</h1>
			{% for book in book_post %}
				<div class="info-contributions">
					<a href="{% url 'show_request' book.id %}" target="_blank">{{ book.title }}</a>
					<img src="{{ illustration.image.url }}" height="150px">
					<form>
						{% csrf_token %}
						<button type="button" id="{{ book.id }}">Aprove</button>
					</form>
				</div>
			{% endfor %}
		</div>

		<div class="contributions">
			<h1>Illustrations Contributions to be aproved</h1>
			{% for illustration in illustration_post %}
				<div class="image-contributions">
					<a href="{% url 'book' illustration.book.id %}" target="_blank">{{ illustration.book.title }}</a>
					<img src="{{ illustration.image.url }}" height="150px">
					<form>
						{% csrf_token %}
						<button type="button" id="{{ illustration.id }}">Aprove</button>
					</form>
				</div>
			{% endfor %}
		</div>

		<div class="contributions">
			<h1>Illustrations removal to be aproved</h1>
			{% for illustration in illustration_delete %}
				<div class="image-contributions delete-contributions">
					<a href="{% url 'book' illustration.illustration.book.id %}" target="_blank">{{ illustration.book.title }}</a>
					<img src="{{ illustration.illustration.image.url }}" height="150px">
					<form>
						{% csrf_token %}
						<button type="button" id="{{ illustration.id }}">Aprove</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>

<script src="{% static 'js/aprove.js' %}"></script>
{% endblock %}