{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="">{% endblock %}

{% block body %}
	<div class="contributions-post">
		<div>
			<h1>Books contributions to be aproved</h1>
			{% for book in book_post %}
				<div>
					<a href="{% url 'book' book.id %}">{{ book.title }}</a>
					<img src="{{ illustration.image.url }}" height="150px">
				</div>
				<a>Aprove</a>
			{% endfor %}
		</div>

		<div>
			<h1>Illustrations Contributions to be aproved</h1>
			{% for illustration in illustration_post %}
				<div>
					<a href="{% url 'book' illustration.book.id %}">{{ illustration.book.title }}</a>
					<img src="{{ illustration.image.url }}" height="150px">
				</div>
			{% endfor %}
		</div>

		<div>
			<h1>Illustrations removal to be aproved</h1>
			{% for illustration in illustration_delete %}
				<div>
					<a href="{% url 'book' illustration.illustration.book.id %}">{{ illustration.book.title }}</a>
					<img src="{{ illustration.illustration.book.url }}" height="150px">
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}