{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/book.css' %}">{% endblock %}

{% block body %}
<div class="book-presentation">
	<div class="book-img">
		<img src="{{ Book.book_cover.url }}" width="350px">
	</div>

	<div class="book-show-info">
		{% if request.user.is_superuser %}
			{% if Book.protection %}
				<h1 class="book-title" data-id="{{ Book.id }}">{{ Book.title }} <a href="{% url 'protect' Book.id %}" id="protectionButton" class="bi bi-shield-lock protection"></a></h1>
			{% else %}
				<h1 class="book-title" data-id="{{ Book.id }}">{{ Book.title }} <a href="{% url 'protect' Book.id %}" id="protectionButton" class="bi bi-shield-lock no-protection"></a></h1>
			{% endif %}
		{% else %}
			<h1 class="book-title" data-id="{{ Book.id }}">{{ Book.title }}</h1>
		{% endif %}
		<h4>by {{ Book.author }} - Published on {{ Book.published }}</h4>
		<div class="book-rating">
			<div class="ibdb-rating">
				<h5>IBDb RATING</h5>
				<button id="ibdb-rating-btn">
					<span class="review-rating"><i class="bi bi-star-fill"></i> {{ Book.score.avg|floatformat:1 }}<span class="max-rating">/5</span></span>
				</button>
				<div id="ibdb-rating-modal" class="modal">
				  <div class="modal-content">
				    <span id="ibdb-modal-close" class="close">&times;</span>
				    <div class="ibdb-modal">
				    	<div class="ibdb-modal-header">
				    		<h4>Rating</h4>
				    		<h4 id="votes">Votes {{ Book.score.total }}</h4>
				    	</div>
				    	<div class="scores">
				    		<h4>1★</h4>
				    		<div class="score-bar-div">
				    			<div class="score-bar">
				    				
				    			</div>
				    		</div>
				    		<h4>{{ Book.score.score_1 }}</h4>
				    	</div>
				    	<div class="scores">
				    		<h4>2★</h4>
				    		<div class="score-bar-div">
				    			<div class="score-bar">
				    				
				    			</div>
				    		</div>
				    		<h4>{{ Book.score.score_2 }}</h4>
				    	</div>
				    	<div class="scores">
				    		<h4>3★</h4>
				    		<div class="score-bar-div">
				    			<div class="score-bar">
				    				
				    			</div>
				    		</div>
				    		<h4>{{ Book.score.score_3 }}</h4>
				    	</div>
				    	<div class="scores">
				    		<h4>4★</h4>
				    		<div class="score-bar-div">
				    			<div class="score-bar">
				    				
				    			</div>
				    		</div>
				    		<h4>{{ Book.score.score_4 }}</h4>
				    	</div>
				    	<div class="scores">
				    		<h4>5★</h4>
				    		<div class="score-bar-div">
				    			<div class="score-bar">
				    				
				    			</div>
				    		</div>
				    		<h4>{{ Book.score.score_5 }}</h4>
				    	</div>
				    </div>
				  </div>
				</div>
			</div>
			<div class="user-rating">
				<h5>YOUR RATING</h5>
				<button id="myBtn">
					{% if not rating_score %}
						<span class="review-rating"><i class="bi bi-star"></i> Rate</span></span>
					{% else %}
						<span class="review-rating-user"><i class="bi bi-star-fill"></i> {{ rating_score }}<span class="max-rating">/5</span></span>
					{% endif %}
				</button>
				<div id="myModal" class="modal">
				  <div class="modal-content">
				    <span id="user-modal-close" class="close">&times;</span>
				    <form class="rating">
				    	{% csrf_token %}
						<input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
						<input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
						<input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
						<input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
						<input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
					</form>
					<button id="rate-btn" type="button">Rate</button>
					<button id="rate-remove-btn" type="button">Remove</button>
				  </div>
				</div>
			</div>
		</div>
		<p>{{ Book.synopsis|linebreaks }}</p>
		<form class="want-read-form">
			{% csrf_token %}
			<select id="want-read" name="want-read" class="want-read" onchange="bookStatus()">
				<option value="1">Add book</option>
				<option value="want_read" {% if want_to_read %}selected{% endif %}>Want to read {% if want_to_read %}✓{% endif %}</option>
				<option value="reading" {% if reading %}selected{% endif %}>Currently reading {% if reading %}✓{% endif %}</option>
				<option value="read" {% if read %}selected{% endif %}>Read {% if read %}✓{% endif %}</option>
			</select>
		</form>
	</div>
</div>

<div class="book-info">
	<div class="book-details">
		<h3>Details</h3>
		<h4><b>ISBN-10</b>{{ Book.isbn.isbn10 }}</h4>
		<h4><b>ISBN-13</b>{{ Book.isbn.isbn13 }}</h4>
		<h4><b>Original title</b>{{ Book.original_title }}</h4>
		<h4><b>Characters</b>{% for character in Book.characters.characters %}<a href="{% url 'search' %}?q={{ character }}">{{ character }}</a>{% endfor %}</h4>
		<h4><b>Genres</b>{% for genres in Book.genres.genres %}<a href="{% url 'search' %}?q={{ genres }}">{{ genres }}</a>{% endfor %}</h4>
		<h4><b>Keywords</b>{% for keywords in Book.keywords.keywords %}<a href="{% url 'search' %}?q={{ keywords }}">{{ keywords }}</a>{% endfor %}</h4>
	</div>

	<div class="book-illustrations">
		<h3>Illustrations <a class="bi bi-pencil" href="{% url 'illustration' Book.id %}"}></a></h3>
		<div class="images">
			{% for illustration in Illustrations %}
				<img src="{{ illustration.image.url }}" height="150px">
			{% endfor %}
		</div>
	</div>

	<div class="book-reviews">
		<h3>Reviews<a href="{% url 'review_book' Book.id %}"}>+ Review</a></h3>
		{% for review in Reviews %}
			<div class="review">
				<div class="review-top">
					<h4>{{ review.user.username }} - {{ review.date }}</h4>
					<span class="review-rating"><i class="bi bi-star-fill"></i> {{ review.score }}<span class="max-rating">/5</span></span>
					{% if request.user == review.user %}
						<a class="bi bi-pencil" href="{% url 'edit_review' Book.id %}"></a>
					{% endif %}
				</div>
				<h2>{{ review.title }}</h2>
				<p>{{ review.text }}</p>
			</div>
		{% endfor %}
	</div>

	<div class="contribute">
		<h3>Contribute to this page</h3>
		<a href="{% url 'edit_book' Book.id %}"><i class="bi bi-pencil"></i> Edit page</a>
	</div>
</div>

<script src="{% static 'js/rate.js' %}"></script>
<script src="{% static 'js/book_status.js' %}"></script>
<script src="{% static 'js/ibdb_rating.js' %}"></script>
{% endblock %}