{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/review.css' %}">{% endblock %}
{% block body %}
<div class="form-content">
	<form class="review-form" id="review-form" action="{% url 'edit_review' book.id %}" method="post">
		{% csrf_token %}
		<div class="book">
			<div class="book-image">
				<img src="{{ book.book_cover.url }}" width="100" height="154">
			</div>
			<div class="book-info">
				<h3>{{ book.title }}</h3>
				<h4>by {{ book.author }} - Published on {{ book.published }}</h4>
				<div class="rating">
					{% for i in '54321' %}
						<input type="radio" name="rating" value="{{ i }}" id="{{ i }}" {% if review.score|stringformat:"i" == i %}checked{% endif %}><label for="{{ i }}">☆</label>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="form-input-text">
			<input type="text" name="title" placeholder="Review title" value="{{ review.title }}">
			<textarea name="text" placeholder="Review text" form="review-form">{{ review.text }}</textarea>
			{% if message %}
				<h5 id="error-message">{{ message }}</h5>
			{% endif %}
			<button class="submit-review" type="submit">POST</button>
		</div>
	</form>
</div>
{% endblock %}