{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">{% endblock %}

{% block body %}
<div class="slider-content">
	<div class="book-info">
		<h1 class="book-title" data-id="{{ Books.first.id }}">{{ Books.first.title }}</h1> <br>
		<p id="book-author">by {{ Books.first.author }}</p>
		<p id="book-synopsis">{{ Books.first.synopsis }}</p>
	</div>

	<div class="book-img">
		<h4 id="book-genre">{{ Books.first.genres.genres.0 }}</h4>
	  		<div class="swiper-container swiper1">
			  <!-- Additional required wrapper -->
			  <div class="swiper-wrapper">
			    <!-- Slides -->
			    {% for Book in Books %}
			    	<div class="swiper-slide" data-id="{{ Book.id }}">
			    		<a href="{% url 'book' Book.id %}"><img src="{{ Book.book_cover.url }}" width="300px" height="400px"></a>
			    	</div>
			    {% endfor %}
			  </div>

			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>

			  <div class="swiper-pagination"></div>
			</div>

		<form class="want-read-form">
			{% csrf_token %}
			<select id="want-read" name="want-read" class="want-read" onchange="bookStatus()">
				<option value="1">Add book</option>
				<option value="want_read" {% if want_to_read %}selected{% endif %}>Want to read {% if want_to_read %}✓{% endif %}</option>
				<option value="reading" {% if reading %}selected{% endif %}>Currently reading {% if reading %}✓{% endif %}</option>
				<option value="read" {% if read %}selected{% endif %}>Read {% if read %}✓{% endif %}</option>
			</select>
		</form>
	</div>

	<div class="book-slider">
		<div class="swiper-container swiper2">
		    <div class="swiper-wrapper">
		      	{% for Book in Books %}
		      		<div class="swiper-slide">
				      	<div class="book-slider-box">
							<div class="book-slider-img">
								<img src="{{ Book.book_cover.url }}" width="80px">
							</div>
							<div class="book-slider-info">
								<h4>{{ Book.title }}</h4>
								<p>{{ Book.synopsis|safe|truncatechars:290 }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
		    </div>
		</div>
	</div>
</div>

<div class="book-list-slider">
	<h2>Last added books</h2>
	<div class="swiper-container swiper3">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for book in last_added_books %}
				<div class="swiper-slide"><a href="{% url 'book' book.id %}"><img src="{{ book.book_cover.url }}" height="200px"></a></div>
			{% endfor %}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

<div class="book-list-slider">
	<h2>Best rating books</h2>
	<div class="swiper-container swiper4">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for book in best_book_ratings %}
				<div class="swiper-slide"><a href="{% url 'book' book.id %}"><img src="{{ book.book_cover.url }}" height="200px"></a></div>
			{% endfor %}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

<div class="latest-reviews">
	<h2>Latest book reviews</h2>
	{% for review in reviews %}
		<div class="review">
			<div class="review-top">
				<h4>{{ review.user.username }} - {{ review.date }} -- <a href="{% url 'book' review.book.id %}">{{ review.book.title }}</a></h4>
				<span class="review-rating"><i class="bi bi-star-fill"></i> {{ review.score }}<span class="max-rating">/5</span></span>
			</div>
			<h2>{{ review.title }}</h2>
			<p>{{ review.text }}</p>
		</div>
	{% endfor %}
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/book_status.js' %}"></script>
{% endblock %}