{% extends 'books/layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block body %}
<div class="user-content">
	<div class="user-info">
		<img src="{% static 'images/profile-image.png' %}" width="200px">
		<div class="text">
			<h1>{{ request.user.username }}</h1>
			<ul class="user-books">
				<li><b>Contributions</b> {{ request.user.contributions }}</li>
				<li><b>Reviews</b> {{ reviews }}</li>
				<li><b>Ratings</b> {{ ratings }}</li>
				<li><b>Books</b> Read {{ read }} • Reading {{ reading }} • Want to read {{ want }}</li>
			</ul>
		</div>
	</div>
	<div class="contributions-post">
		<div>
			<h1>Books contributions to be aproved</h1>
			<ul>
				{% for book in book_post %}
					<li>
						<a href="{% url 'book' book.id %}">{{ book.title }}</a>
					</li>
				{% endfor %}
			<ul>
		</div>

		<h1>Illustrations Contributions to be aproved</h1>
		<div class="contributions-post-illustrations">
			{% for illustration in illustration_post %}
				<div class="contributions-post">
					<a href="{% url 'book' illustration.book.id %}">{{ illustration.book.title }}</a>
					<img src="{{ illustration.image.url }}" height="150px">
				</div>
			{% endfor %}
		</div>

		<div class="contributions-post-illustrations">
			{% for illustration in illustration_delete %}
				<div class="contributions-post">
					<a href="{% url 'book' illustration.illustration.book.id %}">{{ illustration.book.title }}</a>
					<img src="{{ illustration.illustration.book.url }}" height="150px">
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}