{% extends "books/layout.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">{% endblock %}

{% block body %}
<div class="book-presentation">
	<div class="book-img">
		<img src="{{ Book.book_cover.url }}" width="350px">
	</div>

	<div class="book-show-info">
		<h1 class="book-title" data-id="{{ Book.id }}">{{ Book.title }} </h1>
		<h4>by {{ Book.author }} - Published on {{ Book.published }}</h4>
		<p>{{ Book.synopsis|linebreaks }}</p>
		<button class="want-read">+ Want to read</button>
	</div>
</div>

<div class="book-info">
	<div class="book-details">
		<h3>Details</h3>
		<h4><b>ISBN-10</b>{{ Book.isbn.isbn10 }}</h4>
		<h4><b>ISBN-13</b>{{ Book.isbn.isbn13 }}</h4>
		<h4><b>Original title</b>{{ Book.original_title }}</h4>
		<h4><b>Characters</b>{% for character in Book.characters.characters %}<a href="{% url 'search_book' %}?q={{ character }}">{{ character }}</a>{% endfor %}</h4>
		<h4><b>Genres</b>{% for genres in Book.genres.genres %}<a href="{% url 'search_book' %}?q={{ genres }}">{{ genres }}</a>{% endfor %}</h4>
		<h4><b>Keywords</b>{% for keywords in Book.keywords.keywords %}<a href="{% url 'search_book' %}?q={{ keywords }}">{{ keywords }}</a>{% endfor %}</h4>
	</div>
</div>
{% endblock %}